<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	</head>
	<body>
		<header class="container col-md-8 my-5">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			  <a class="navbar-brand" href="#">Navbar</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav">
			      <a class="nav-item nav-link active" th:href="@{/hello}">Home <span class="sr-only">(current)</span></a>
			      <a class="nav-item nav-link" th:href="@{/create}">Features</a>
			      <a class="nav-item nav-link" href="#">Pricing</a>
			      <a class="nav-item nav-link disabled" href="#">Disabled</a>
			    </div>
			  </div>
			</nav>
		</header>
	   <div class="container my-5">
            <h2 class="mb-5">New Product</h2>
            <div class="row">
                <div class="col-md-6">
		
					<form action="#" th:action="@{/create}" th:object="${product}" 	method="POST">
						<div class="row">
						    <div class="form-group col-md-6">
								<label for="name" class="col-form-label">Nom</label>
								<input type="text" th:field="*{name}"  class="form-control">
								<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  class="text-danger"></span>
							</div>
						</div>
						<div class="row">
						    <div class="form-group col-md-6">
								<label for="description" class="col-form-label">Description</label>
								<input type="text" th:field="*{description}"  class="form-control">
								<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"  class="text-danger"></span>
							</div>
						</div>
						<div class="row">
						    <div class="form-group col-md-6">
								<label for="price" class="col-form-label">Prix</label>
								<input type="number" th:field="*{price}"  class="form-control">
								<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"  class="text-danger"></span>
							</div>
						</div>
						<div class="row">
						    <div class="form-group col-md-6">
								<label for="quantite" class="col-form-label">Quantite</label>
								<input type="number" th:field="*{quantite}"  class="form-control">
								<span th:if="${#fields.hasErrors('quantite')}" th:errors="*{quantite}"  class="text-danger"></span>
							</div>
						</div>
						<div class="row">
						    <div class="form-group col-md-6">
								<input type="submit" value="create product"  class="btn btn-primary">
							</div>
						</div>
					</form>
                </div>
            </div>
        </div>
	</body>
</html>