body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    color: goldenrod;
}

form {
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px 12px gray;
    width: 50%;
    align-content: center;
    height: 170%;
}

input, select, input#file-upload-button {
    width: 80%;
    padding: 12px 20px;
    margin: 1% 10%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus {
    border: 3px solid #555;
}

label{
    margin: 0% 10%;
    color: #B4886B;
    font-weight: bold;
    width: 160px;
    float: left;
}

p {
    margin: 0% 40%;
    color: #B4886B;
    font-weight: bold;
    width: 130px;
    float: left;
}

h3{
    margin: 0% 30%;
    color: #B4886B;
    font-weight: bold;
    width: 130px;
}

label.container{
    font-size: 18;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.space-beetwenn{
    height: 10%;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: #B4886B;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}